<!DOCTYPE html>
%html(lang="en")
  %head
    = ::NewRelic::Agent.browser_timing_header rescue ""
    %link{ :rel=>"icon", :href=>"/favicon.ico" }
    %meta(charset="utf-8")
    - if @description
      %meta(name="description" content=@description)
    - if @keywords
      %meta(name="keywords" content=@keywords)
    %title= @title
    <!--[if ! lte IE 6]><!-->
    %link(href="#{url('/css/master.css')}" media="screen" rel="stylesheet")
    %script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    %script
      var searchElement = 'form#searchform input#searchbox';
    %script(src="#{url('/js/vim.min.js')}")
    <!--<![endif]-->
    /[if lte IE 6]
      %link(rel="stylesheet" href="http://universal-ie6-css.googlecode.com/files/ie6.1.1.css" media="screen, projection")
    /[if lt IE 9]
      %script(src="//html5shim.googlecode.com/svn/trunk/html5.js")
    - local_stylesheet_link_tag('local')
    %link(href="#{url('/articles.xml')}" rel="alternate" type="application/atom+xml")
    = haml :analytics, :layout => false

  %body
    #container
      = haml :header, :layout => false
      = yield
      = haml :footer, :layout => false
    - if @page.flagged_as?('forkme') || forkpath = @page.metadata('forkme')
      = haml :forkme, :locals => { :forkpath => (forkpath || '')}, :layout => false

  - if defined?(sharethis_javascript)
    = sharethis_javascript
  = haml :disqus_comment, :layout => false
  = ::NewRelic::Agent.browser_timing_footer rescue ""
