%footer
  - if page.date
    %p.meta{:style => "float:left"}
      Published
      - if page.date
        on
        %time(datetime="#{page.date.to_s}" pubdate=true)= format_date(page.date)
      - if (! page.categories.empty?)
        in
        - page.categories.each do |category|
          - if category != page.categories[-1]
            = succeed ',' do
              %a(href="#{url(category.abspath)}")= category.heading
          - else
            %a(href="#{url(category.abspath)}")= category.heading
  - if show_disqus_comment_count?(page)
    %p.meta{:style => "float:right"}
      %a{ :href => "#{url(page.abspath)}#disqus_thread", :style => "font-size:125%; font-weight:bold" } Comment

  %br{:style => "clear:both"}
