- if short_name = Nesta::Config.disqus_short_name
  :javascript
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = "#{short_name}";

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());

%footer
  - if page.date
    %p.meta{:style => "float:left"}
      Published
      - if page.date
        on
        %time(datetime="#{page.date.to_s}" pubdate=true)= format_date(page.date)
      - if (! page.categories.empty?)
        in
        - page.categories.each do |category|
          - if category != page.categories[-1]
            = succeed ',' do
              %a(href="#{url(category.abspath)}")= category.heading
          - else
            %a(href="#{url(category.abspath)}")= category.heading
  - if short_name
    %p.meta{:style => "float:right"}
      %a{ :href => "#{url(page.abspath)}#disqus_thread", :style => "font-size:125%; font-weight:bold" } Comment

  - if page.date || short_name
    %br{:style => "clear:both"}
