.social
  %a{ :href => "http://delicious.com/post?url=#{url}&title=#{@page.heading}", :title => "Bookmark on delicious.com" }
    %img{ :src => "/original/delicious.png", :alt => "Bookmark on delicous.com" }
  %a{ :href => "http://digg.com/submit?phase=2&url=#{url}&title=#{@page.heading}", :title => "Digg it!" }
    %img{ :src => "/original/digg.png", :alt => "Digg it!" }
  %a{ :href => "http://reddit.com/submit?url=#{url}&title=#{@page.heading}", :title => "Reddit!" }
    %img{ :src => "/original/reddit.gif", :alt => "Reddit!" }
